html, body {
 	height: 100%;
 	background-color: black;
 	font-family: Comic Sans MS;
}

h1, h4 {
	color: #67351a;
}

ul li, ol li {
	color: #45a247;
}

#slideshow {
	max-width: 800px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

#masterhead {
	padding: 10px 0 15px 0;
	margin-bottom: 20px;
	width: 100%;
	background-image: url(../img/foret_top.jpg);
	background-repeat: no-repeat;
	background-color: #828371;
}

#masterhead h1 {
	font-size: 76px;
}

#masterhead p {
	margin-top: 20px;
	font-size: 25px;
}

#masterhead a {
	font-weight: normal;
	letter-spacing: 1px;
}

a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#masterhead_right {
	padding-right: 10px;
}

#logo {
	padding-left: 15px;
}

#left-menu {
	padding-left: 15px;
	text-align:center;
}

#right-col {
	padding-right: 15px;
	text-align:center;
}

#left-menu p {
	font-size: 19px;
}

#left_menu_list a:hover {
	background-color: #45a247;
}

#center {
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	padding-left: 20px;
	padding-right: 20px;
}

.center_content {
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
}

.text {
	color: #7b6a47;
	font-size: 15px;
	line-height: 35px;
	letter-spacing: 1px;
	padding-left: 5px;
	margin-right: 30px;
}

.text span {
	color: #45a247;
}

.text span:hover {
	color: #FFFFFF;
}

.text_img {
	margin: 10px;
}

.text_img_left {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.text_img_right {
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.lead {
	color: #7b6a47;
}

.page-header {
	clear: both;
	border-color: #333333;
}

.footer {
	text-align: center;
	margin-top: 40px;
	padding-top: 30px;
	height: 130px;
	border-top: 1px solid #e5e5e5;
	background-color: #eee;
	background-image: url(../img/foret_bottom.jpg);
	background-repeat: no-repeat;
	border-color: black;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.footer-links {
	margin-left: 0;
	margin-bottom: 30px;
}

.footer-links li {
	display: inline;
	margin-left: 5px;
}

.footer a, p {
	font-size: 17px;
}

.footer p {
	color: #7b6a47;
}

.modal {
	background-color: black;
    width: 750px;
    margin-left: -375px;
}

.modal-header {
	color: #67351a;
	border-color: #333333;
}

.modal-footer {
	background-color: black;
	border-color: #333333;
	-webkit-moz-shadow: none;
	-moz-moz-shadow: none;
	box-shadow: none;
}

.modal label, .control-label-right, .control-label-no-input {
	color: #7b6a47;
	font-size: 15px;
}

.control-label-right {
	margin-left: 10px;
}

.control-label-no-input {
	padding-top: 5px;
}

.control-label-no-input span {
	color: #45a247;
}

.controls-no-input {
	margin-top: 5px;
}

.close {
	color: white;
}

#social-links {
	margin-bottom: 10px;
}

#social-links img {
	margin-right: 10px;
}
 
@media only screen and (max-width: 1100px) {
    #masterhead h1 { font-size:53px;}
    #masterhead p { font-size:23px;}
    #left-menu p { display: none;}
}

@media only screen and (max-width: 767px) {
    #masterhead h1 { font-size:50px;}
    #masterhead p { font-size:22px;}
    #left-menu { padding-left: 0;}
    #masterhead { text-align: center;}
    #stamp { display: none;}
    #left-menu p { display: block;}
    #center { border: 0; padding: 0;}
}    